@model FNet.Mess.Models.F0Model
<style type="text/css">
    #fnet_mess_views_f0_index {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }

        #fnet_mess_views_f0_index div.section-header {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            height: 20px;
            overflow: hidden;
            padding: 2px;
            text-align: center;
            font-weight: bold;
            font-size: 12pt;
            border-bottom: 2px solid green;
        }

        #fnet_mess_views_f0_index div.section-filter {
            position: absolute;
            left: 0;
            top: 26px;
            width: 240px;
            right: 0;
            bottom: 0;
            float: left;
            overflow: auto;
            padding: 2px;
        }

            #fnet_mess_views_f0_index div.section-filter table tr {
                height: 40px;
            }

            #fnet_mess_views_f0_index div.section-filter table td {
                padding: 2px;
            }

        #fnet_mess_views_f0_index div.section-filtered_data {
            border-left: 2px solid green;
            position: absolute;
            left: 240px;
            top: 26px;
            right: 0;
            bottom: 0;
            overflow: auto;
        }
</style>
<div id="fnet_mess_views_f0_index">
    <div class="section-header"><span>Журнал сообщений</span></div>
    <div class="section-filter">
        <div style="width: 100%; text-align: center;">
            <span style="font-size: 11pt; font-weight: bold;">Фильтр</span>
            <br />
            <br />
            <table style="width: 100%; text-align: left;">
                <tr>
                    <td>Все</td>
                    <td colspan="2"><input type="checkbox" name="все" /></td>
                </tr>
                <tr>
                    <td>Дата</td>
                    <td><input type="text" name="дата_min" class="datepicker" style="width: 60px;" /></td>
                    <td><input type="text" name="дата_max" class="datepicker" style="width: 60px;" /></td>
                </tr>
                <tr>
                    <td>Отправитель</td>
                    <td colspan="2"><input type="text" name="отправитель" style="width: 130px;" /></td>
                </tr>
                <tr>
                    <td>Тема</td>
                    <td colspan="2"><input type="text" name="тема" style="width: 130px;" /></td>
                </tr>
                <tr>
                    <td>Содержание</td>
                    <td colspan="2"><input type="text" name="содержание" style="width: 130px;" /></td>
                </tr>
            </table>
            <br />
            <input type="button" value="Применить" onclick="FnetMessF0Index.applyFilter(this);" style="font-size: 11pt;" />
        </div>
        <br /><br />
        <div style="width: 100%; text-align: center; border-top: 2px solid green;">
            <br /><br />
            <input type="button" value="Сохранить" onclick="FnetMessF0Index.save(this);" style="font-size: 11pt;" />
        </div>
    </div>
    <div class="section-filtered_data">
        <table style="width: 100%; height: 100%;">
            <tr>
                <td style="height: 400px;">
                    <div class="filtered_data_table" style="height: 400px; overflow: auto; border-bottom: 2px solid green;">
                        @RenderPage("~/Views/F0/Table.cshtml", Model)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="filtered_data_detail"></div>
                </td>
            </tr>
        </table>
    </div>
</div>
<script type="text/javascript">
    var FnetMessF0Index = (function () {
        var mainDiv = $('#fnet_mess_views_f0_index');
        var sectionFilter = mainDiv.find('div.section-filter');
        var sectionFilteredData = mainDiv.find('div.section-filtered_data');
        var filteredDataTable = sectionFilteredData.find('div.filtered_data_table');

        $.datepicker.setDefaults({ dateFormat: 'dd.mm.y' });
        $('input.datepicker').datepicker();

        return {
            applyFilter: function (element) {
                $(element).hide();
                var rqp = {
                    SessionId: Nskd.Server.SessionId,
                    Command: 'Mess.F0.ApplyFilter',
                    Parameters: []
                };
                sectionFilter.find('input[name]').each(function (index, element) {
                    if (element.type == 'checkbox') {
                        rqp.Parameters.push({ Name: element.name, Value: $(element).prop('checked') });
                    } else if (element.type == 'text' && element.value) {
                        var v = element.value;
                        if ($(element).hasClass('datepicker')) {
                            var d = '20' + v.substr(6, 2) + '-' + v.substr(3, 2) + '-' + v.substr(0, 2);
                            rqp.Parameters.push({ Name: element.name, Value: d });
                        } else {
                            rqp.Parameters.push({ Name: element.name, Value: v });
                        }
                    }
                });
                filteredDataTable.html('');
                Nskd.Http.post({
                    url: '/mess/f0/applyfilter',
                    rqp: rqp,
                    done: function (data) {
                        filteredDataTable.html(data);
                        $(element).show();
                    }
                });
            },
            save: function (element) {
                $(element).hide();
                var rqp = {
                    SessionId: Nskd.Server.SessionId,
                    Command: 'Mess.F0.Save',
                    Parameters: []
                };
                filteredDataTable.find('input[data-modified="1"]').each(function () {
                    var uid = $(this).closest('tr').attr('data-uid');
                    var name = this.name;
                    var value = $(this).prop('checked');
                    rqp.Parameters.push({ Name: uid + name, Value: value });
                });
                filteredDataTable.html('');
                Nskd.Http.post({
                    url: '/mess/f0/save',
                    rqp: rqp,
                    done: function (data) {
                        FnetMessF0Index.applyFilter();
                        $(element).show();
                    }
                });
            }
        };
    })();
</script>
