@model FNet.Mess.Models.F0Model
<style type="text/css">
    #fnet_mess_views_f0_index {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }

        #fnet_mess_views_f0_index div.header {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            height: 20px;
            overflow: hidden;
            padding: 2px;
            text-align: center;
            font-weight: bold;
            font-size: 12pt;
            border-bottom: 2px solid green;
        }

        #fnet_mess_views_f0_index div.body {
            position: absolute;
            left: 0;
            top: 26px;
            right: 0;
            bottom: 0;
        }

            #fnet_mess_views_f0_index div.body div.left {
                position: absolute;
                left: 0;
                top: 0;
                width: 240px;
                bottom: 0;
                border-right: 2px solid green;
            }

                #fnet_mess_views_f0_index div.body div.left div.filter {
                    width: 100%;
                    border-bottom: 2px solid green;
                }

                #fnet_mess_views_f0_index div.body div.left div.command {
                    width: 100%;
                    margin-top: 20px;
                    text-align: center;
                }

            #fnet_mess_views_f0_index div.body div.right {
                position: absolute;
                left: 242px;
                right: 0;
                height: 100%;
            }

                #fnet_mess_views_f0_index div.body div.right div.data {
                    width: 100%;
                    height: 400px;
                }
</style>
<div id="fnet_mess_views_f0_index">
    <div class="header"><span>Журнал сообщений</span></div>
    <div class="body">
        <div class="left">
            <div class="filter">
                @RenderPage("~/Views/F0/Filter.cshtml")
            </div>
            <div class="command">
                <input type="button" value="Сохранить" onclick="FnetMessViewsF0Index.save(this);" style="font-size: 11pt;" />
            </div>
        </div>
        <div class="right">
            <div class="data">
                <div class="table" style="height: 100%; overflow: auto; border-bottom: 2px solid green;">
                    @RenderPage("~/Views/F0/Table.cshtml", Model)
                </div>
                <div class="detail" style="padding: 2px;"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var FnetMessViewsF0Index = (function () {
        var mainDiv = $('#fnet_mess_views_f0_index');
        var filter = mainDiv.find('div.filter');
        var data = mainDiv.find('div.data');
        var table = data.find('div.table');
        var detail = data.find('div.detail');

        $.datepicker.setDefaults({ dateFormat: 'dd.mm.y' });
        $('input.datepicker').datepicker();

        return {
            applyFilter: function (element) {
                $(element).hide();
                var rqp = {
                    SessionId: Nskd.Server.SessionId,
                    Command: 'Mess.F0.ApplyFilter',
                    Parameters: []
                };
                filter.find('input[name]').each(function (index, element) {
                    if (element.type == 'checkbox') {
                        rqp.Parameters.push({ Name: element.name, Value: $(element).prop('checked') });
                    } else if (element.type == 'text' && element.value) {
                        var v = element.value;
                        if ($(element).hasClass('datepicker')) {
                            var d = '20' + v.substr(6, 2) + '-' + v.substr(3, 2) + '-' + v.substr(0, 2);
                            rqp.Parameters.push({ Name: element.name, Value: d });
                        } else {
                            rqp.Parameters.push({ Name: element.name, Value: v });
                        }
                    }
                });
                table.html('');
                detail.html('');
                Nskd.Http.post({
                    url: '/mess/f0/applyfilter',
                    rqp: rqp,
                    done: function (data) {
                        table.html(data);
                        $(element).show();
                    }
                });
            },
            save: function (element) {
                $(element).hide();
                var rqp = {
                    SessionId: Nskd.Server.SessionId,
                    Command: 'Mess.F0.Save',
                    Parameters: []
                };
                table.find('input[data-modified="1"]').each(function () {
                    var uid = $(this).closest('tr').attr('data-uid');
                    var name = this.name;
                    var value = $(this).prop('checked');
                    rqp.Parameters.push({ Name: uid + name, Value: value });
                });
                table.html('');
                detail.html('');
                Nskd.Http.post({
                    url: '/mess/f0/save',
                    rqp: rqp,
                    done: function (data) {
                        FnetMessViewsF0Index.applyFilter();
                        $(element).show();
                    }
                });
            }
        };
    })();
</script>
